


/* display developer name to center and add animation in it */
.Main_title{
  text-align: center;
  background-color:black;
  

}

/* set a title font-weight, color, and margin*/
  .Main_title h1 {
   
    font-weight: bold;
    color: #e6304e;
    text-align: center;
    margin-top: auto;
    font-size: 90px;
    line-height: 160px;
    margin-left: -20px;
    
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background:url(Images/Online\ Order.png);
    -webkit-background-clip: text;
    background-position: -50px ;
    animation: back 5s linear infinite;
    background-clip: text;
    
  }
  
  
  @keyframes back {
      100%{
          background-position: 100px 0;
      }
  
    }

    /* Nav menu start here . set a background color, padding and margin.*/ 

  nav {
      background-color: #333;
      padding: 10px;
      margin-top: -80px;
      margin-bottom: 70px;
  }
    /* Set a Nav menu list style as a none.*/
   nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
  }
 
  /* Display Nav as a inline and set position as a relative.*/
nav ul li {
  display:inline-block;
  margin-right: 10px;
  position:relative;
}

 /* Set text-color as a white */
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

/*set a hover effect */
nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/*Set a pseudo elements here*/
 .bio .name_font::after {
 content:"Anand Patel.";
 font-weight: bold;
 
 font-size: 50px;
 
}


/* about me section start here*/
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

/*set a image margin here*/
.about_image {
  margin-bottom: 50px;
}


/* set a image width,height and border here*/
.about_image img {
  width: 200px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Set a text size*/
.about_text {
 
  font-size: 30px;
}

/*set a heading margin here*/
.about_text h2 {
   margin-left:35%; 
}

/*set a paragraph font-color, size, and margin */

.about_text p {
  font-size: 25px;
  color: #6b3030;
  line-height: 1.5;
  margin-left: 0%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Service section start here*/
.service_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Set a hover effect here*/
.service_grid :hover{
  color:rgb(233, 52, 197);
}

/* set a border,padding and font-size here*/
.service_list{
  border: 2px solid orangered;
  padding: 20px;
  text-align: center;
  color: rgb(77, 59, 104);
  font-size: 24px;
}


/* start a work section here*/

.work_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

  /*Display a contain as a flex */
.work-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Set a border display style,size and padding. put some transition effect here*/
.work-item {
  flex-basis: calc(30% - 10px);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color:#e6304e;
  transition: transform 0.5s ease, 
}
/* Set a hover effect on service section*/
.work-item :hover{
  transform: scale(1.1);
  
}

/* Set a first image will be larger */
.work-item.larger {
  flex-basis: calc(75% - 10px);
  background-color: #e6304e;
}

.work-item.larger a {
  text-decoration: none;
  
}

.work-item.larger img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}


/* Set text decoration as a none */
.work-item a {
  text-decoration: none;

}
 /*set a text font-size and color as a antiquewhite*/
.work-row h4 {
  font-size: 35px;
  color: antiquewhite;
}


/* Set a image width and height */
.work-item img {
 max-width: 100%;
height: auto;

}
 

/*Set a work section span text here*/
.work-item span {
  display: block;
  font-size: 25px;
  color:#423c3c;
  font-weight: bolder;
  text-decoration: none;
  margin-top: -35px;

}


/* Set a main headings about, services,work and contact here*/
.center{
  text-align: center;
  font-size: 40px;
  background-color: #e6304e;
  
  margin-left:auto;
  margin-right: auto;
  width: 15%;
  color: antiquewhite;
  
}




/* contact section start here */
/* set a */
.contact_detail{
  font-size:30px;
  padding:5px;
  
}

.contact_detail h2 {
  color: antiquewhite;
  font-size: 35px;
  margin-bottom: 20px;
  text-align:center;
  background-color:#e6304e;
}

.contact_detail address a {
  display: inline;
  margin-right:35px;
  color: #555;
  
  text-align:center;
}

.contact_detail address a:hover {
  color:tomato;
}

.contact_detail address a:before {

  color: #555;
  margin-right: 5px;
}

.contact_detail address a:hover:before {
  color: #333;
}

/* set the media query screen width is equal to or greater than 768 pixels */

@media screen and (min-width: 768px) {
  .about_content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .about_image {
    margin-right: 40px;
    margin-left: 140px;
    margin-bottom: 0;
  }

  .about_image img {
    width: 400px;
    height: auto;
  }

  .about_text {
    max-width: 800px;
    margin-top: 30px;
  }

  .about_text h2 {
    
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about_text p {
    font-size: 18px;
    line-height: 1.6;
  }

  /* Service section  display as 3 row and 3 column.*/
.service_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
}
.center {
  background-color:#e6304e ;
  
  margin-left:auto;
  margin-right: auto;
  width: 15%;
  color: antiquewhite;
}
 
}

  /*  Set the media query  screen width is equal to or less than 768 pixels.*/

  @media screen and (max-width: 768px) {
    
     
  .Main_title h1 {
    font-size: 40px;
    line-height: 90px;
  }
  
  nav {
    margin-top: -40px;
    margin-bottom: 30px;
  }
  
  nav ul li {
    margin-right: 5px;
  }
  
  nav ul li a {
    padding: 3px 8px;
  }
    
  .center {
      font-size: 30px;
      width: 50%;
    }
  
   .about_text h2 {
    font-size: 30px;
    margin-left: 0;
  }
  
  .service_grid{

    display: grid;
    grid-template-columns:  1fr;
}
.work-item {
  flex-basis: 100%;
}

.work-item img {
  max-width: 100%;
  height: auto;
}


}



