



.Main_title{
  text-align: center;
  background-color:black;
  

}
  .Main_title h1 {
   
    font-weight: bold;
    color: #e6304e;
    text-align: center;
  
    margin-top: auto;
    font-size: 70px;
    line-height: 160px;
    margin-left: -20px;
    
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background:url(Images/My_Portfolio.jpg);
    -webkit-background-clip: text;
    background-position: -50px ;
    animation: back 5s linear infinite;
    background-clip: text;
  
  -moz-background-clip: text;
  
  }
  
  
  @keyframes back {
      100%{
          background-position: 100px 0;
      }
  
    }


    nav {
      background-color: #333;
      padding: 10px;
      margin-top: -80px;
      margin-bottom: 70px;
    }

  


nav ul {

  list-style: none;
  
  margin: 0;
  padding: 0;
  
}

nav ul li {
  display:inline-block;
  margin-right: 10px;
  position:relative;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}



.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.about_image {
  margin-bottom: 50px;
  
}

.about_image img {
  
 width: 200px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about_text {
 
  font-size: 30px;
  
}

.about_text h2 {
  font-size:40px;
  
  margin-left:35%;
 
  
  
  
}

.about_text p {
  font-size: 25px;
  color: #6b3030;
  line-height: 1.5;
  margin-left: 0%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  

}

.service_grid{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service_grid :hover{
  color:rgb(233, 52, 197);
}



.service_list{
  border: 2px solid orangered;
  padding: 20px;
  text-align: center;
  color: rgb(77, 59, 104);
  font-size: 24px;
}




.work_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.work-row {
  display: flex;
  width: 100%;
  justify-content: center;
  
  
}

.work-item {
  flex-basis: calc(30% - 10px);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color:#e6304e;
  transition: transform 0.5s ease, 
}
.work-item :hover{
  transform: scale(1.1);
  
}
.work-item.larger {
  flex-basis: calc(75% - 10px);
  background-color: #e6304e;
}

.work-item a {
  text-decoration: none;

}

.work-row h4 {
  font-size: 35px;
  color: antiquewhite;
}
.work-item.larger a {
  text-decoration: none;
  
}

.work-item img {
 max-width: 100%;
height: auto;

}

.center{
  text-align: center;
  font-size: 40px;
  background-color: #e6304e;
  
  margin-left:auto;
  margin-right: auto;
  width: 15%;
  color: antiquewhite;
  
}
.work-item.larger img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}
.work-item span {
  display: block;
  font-size: 25px;
  color:#423c3c;
  font-weight: bolder;
  text-decoration: none;
  margin-top: -35px;

}



.page_contact{
  font-size:30px;
  padding:5px;
  
}

.page_contact h2 {
  color: antiquewhite;
  font-size: 35px;
  margin-bottom: 20px;
  text-align:center;
  background-color:#e6304e;
}

.page_contact address a {
  display: inline;
  margin-right:35px;
  color: #555;
  
  text-align:center;
}

.page_contact address a:hover {
  color:tomato;
}

.page_contact address a:before {

  color: #555;
  margin-right: 5px;
}

.page_contact address a:hover:before {
  color: #333;
}



@media screen and (min-width: 768px) {
  .about_content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .about_image {
    margin-right: 40px;
    margin-left: 140px;
    margin-bottom: 0;
  }

  .about_image img {
    width: 400px;
    height: auto;
  }

  .about_text {
    max-width: 800px;
    margin-top: 30px;
  }

  .about_text h2 {
    
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about_text p {
    font-size: 18px;
    line-height: 1.6;
  }

  /* Service section  display as 3 row and 3 column.*/
.service_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
}
.center {
  background-color:#e6304e ;
  
  margin-left:auto;
  margin-right: auto;
  width: 15%;
  color: antiquewhite;
}
 
}


  
  
 

  

  @media screen and (max-width: 768px) {
    
     
  .Main_title h1 {
    font-size: 40px;
    line-height: 90px;
  }
  
  nav {
    margin-top: -40px;
    margin-bottom: 30px;
  }
  
  nav ul li {
    margin-right: 5px;
  }
  
  nav ul li a {
    padding: 3px 8px;
  }
    
    .center {
      font-size: 30px;
      width: 50%;
    }
  
   .about_text h2 {
    font-size: 30px;
    margin-left: 0;
  }
  
  .service_grid{

    display: grid;
    grid-template-columns:  1fr;
}
.work-item {
  flex-basis: 100%;
}

.work-item img {
  max-width: 100%;
  height: auto;
}


}



